<!-- Dashboard Widgets -->
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card text-white bg-primary h-100">
      <div class="card-body">
        <h5 class="card-title">Users</h5>
        <p class="card-text">1,000 registered users</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card text-white bg-success h-100">
      <div class="card-body">
        <h5 class="card-title">Revenue</h5>
        <p class="card-text">$50,000 this month</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card text-white bg-warning h-100">
      <div class="card-body">
        <h5 class="card-title">Performance</h5>
        <p class="card-text">Server uptime 99.99%</p>
      </div>
    </div>
  </div>
</div>