<!-- Recent Users Table -->
<div class="card mb-5">
  <div class="card-header">
    Recent Users
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Joined</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.name %></td>
          <td><%= product.name %></td>
          <td><span class="badge bg-success">Active</span></td>
        </tr>
      <% end %>
      <tr>
        <td>John Doe</td>
        <td>john@example.com</td>
        <td>2025-04-25</td>
        <td><span class="badge bg-success">Active</span></td>
      </tr>
      <tr>
        <td>Jane Smith</td>
        <td>jane@example.com</td>
        <td>2025-04-22</td>
        <td><span class="badge bg-secondary">Inactive</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>