<!-- Recent Users Table -->
<div class="card mb-5">
  <div class="card-header">
    Recent Products
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Joined</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.name %></td>
          <td><%= product.name %></td>
          <td><span class="badge bg-success">Active</span></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>