body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.sidebar {
    min-height: 100vh;
    background-color: #f8f9fa;
    padding-top: 1rem;
    transition: all 0.3s ease; /* Smooth animation */
}
main {
    flex-grow: 1;
}
/* Optional: Hide sidebar smoothly */
.sidebar-hidden {
    transform: translateX(-100%);
    position: absolute;
    z-index: 1000;
}

#sidebar {
 transition: all 0.3s ease;
}
.sidebar-menu-icon {
    width: 25px;  /* Adjust width as needed */
    /*height: auto; !* Maintain aspect ratio *!*/
}