
    <section class="offer_section layout_padding-bottom">
      <div class="offer_container">
        <div class="container ">
          <div class="row">
            <% @products.each do |product_discount| %>
              <% if product_discount.discount.present? %>
            <div class="col-md-6  ">
              <div class="box ">
                <div class="img-box">
                  <% product_discount.images.each do |image| %>
                    <%= link_to product_path(product_discount) do %>
                      <%= image_tag(image) %>
                    <% end %>
                  <% end %>
                </div>
                <div class="detail-box">
                  <h5>
                    Tasty Thursdays
                  </h5>
                  <h6>
                    <span><%= product_discount.discount %>%</span> Off
                  </h6>
                  <%= link_to root_path, class: "user_link" do %>
                    Order Now
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </section>

