<% content_for :title, "Editing product" %>

<div class="heading_container" style="align-items: center; padding: 20px;" >
  <h2>
    Editing product
  </h2>
</div>

<%= render "form", product: @product %>

<br>

<!--<div>-->
<!--  <%#= link_to "Show this product", @product %> |-->
  <%#= link_to "Back to products", products_path %>
<!--</div>-->
